fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.5em;
    margin-inline: 0.5em;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(148, 140, 255, 0.1);
    border: 2px solid rgb(148, 140, 255);
    max-width: fit-content;
}

fieldset legend {
    font-size: 1.5em;
    margin-inline: auto;
}

fieldset input {
    height: 1.5em;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid gray;
    padding-inline: 0.5em;
}

fieldset label {
    display: none;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;  
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    margin: 0.5rem;

    padding: 1em;

    max-width: 100%;
}

@media (max-width: 700px) {
    .main-container {
        flex-wrap: wrap;
    }
}

.main-container>fieldset {
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: column;
}

.main-container > legend {
    font-weight: bold;
}

.last-field-level {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: space-around;
    padding-inline: 1.5em;
    gap: 1em;
    align-items: center;
    flex-grow: 1;
}

.last-field-level>p {
    border: 2px solid rgb(148, 140, 255);;
    padding: 0.5em;
    border-radius: 0.5em;
    white-space: nowrap;
}

.last-field-level>p>button {
    border: 1px solid #532fff;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    background: #532fff;
    color: white;
    cursor: pointer;
    margin-left: 0.5em;
}